---
import AboutSection from "../components/sections/AboutSection.astro";
import ContactSection from "../components/sections/ContactSection.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import OverviewSection from "../components/sections/OverviewSection.astro";
import PricingSection from "../components/sections/PricingSection.astro";
import ProcessSection from "../components/sections/ProcessSection.astro";
import ReferralSection from "../components/sections/ReferralSection.astro";
import SeoFaqSection from "../components/sections/SeoFaqSection.astro";
import ServicesSection from "../components/sections/ServicesSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { buildSeoKeywords, buildStructuredData, businessName, pageMeta } from "../data/siteContent";

const faviconHref = `${import.meta.env.BASE_URL}favicon.ico`;
const pageUrl = new URL(Astro.url.pathname, Astro.site ?? Astro.url).toString();
const siteRootUrl = new URL(import.meta.env.BASE_URL, Astro.site ?? Astro.url).toString();
const seoKeywords = buildSeoKeywords();
const structuredData = buildStructuredData({ pageUrl, siteRootUrl, keywords: seoKeywords });
---

<MainLayout
  title={pageMeta.title}
  description={pageMeta.description}
  keywords={seoKeywords}
  pageUrl={pageUrl}
  faviconHref={faviconHref}
  structuredData={structuredData}
  ogDescription={pageMeta.ogDescription}
  twitterDescription={pageMeta.twitterDescription}
  businessName={businessName}
>
  <main id="main-content">
    <HeroSection />
    <OverviewSection />
    <ServicesSection />
    <ProcessSection />
    <PricingSection />
    <ReferralSection />
    <AboutSection />
    <ContactSection />
    <SeoFaqSection />
  </main>
</MainLayout>
